body.ie6 #tiptip_content,
body.ie7 #tiptip_content,
body.ie8 #tiptip_content {
	background-color: blue;
}

#tiptip_content {
	font-size: 11px;
	color: #000;
	text-shadow: 0 0 2px #fff;
	padding: 4px 8px;
	border: 1px solid rgba(255,255,255,0.25);
	background-color: rgb(225,225,225);
	background-color: rgba(225,225,225,0.92);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#C0C0C0));
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	box-shadow: 0 0 3px #555;
	-webkit-box-shadow: 0 0 3px #555;
	-moz-box-shadow: 0 0 3px #555;
	/* For IE 8 */
	/* -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#111')"; */
	/* For IE 5.5 - 7 */
	/* filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color='#111'); */
	/* filter: alpha(opacity=90); */
	opacity: 0.9;
	-moz-opacity: 0.9;
        /* IE 8 */
        /* -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=90)"; */
        /* IE 6,7 */
	/* filter: progid:DXImageTransform.Microsoft.Alpha(opacity=90); */
	
        /* IE 8: yes, it is ugly but it has to be on one line. :-( */
        /* -ms-filter: "progid:DXImageTransform.Microsoft.Chroma(color='white') progid:DXImageTransform.Microsoft.Alpha(opacity=90)"; */

        /* IE 6,7 is more flexible: it can be on multiple lines. */
	/* filter: progid:DXImageTransform.Microsoft.Chroma(color='white')
                progid:DXImageTransform.Microsoft.Alpha(opacity=90);	*/
}

#tiptip_holder.tip_top #tiptip_arrow_inner {
	margin-top: -7px;
	margin-left: -6px;
	border-top-color: rgb(225,225,225);
	border-top-color: rgba(225,225,225,0.92);
	/* filter: alpha(opacity=90); */
	opacity: 0.9;
	-moz-opacity: 0.9;
}
#tiptip_holder.tip_bottom #tiptip_arrow_inner {
	margin-top: -5px;
	margin-left: -6px;
	border-bottom-color: rgb(225,225,225);
	border-bottom-color: rgba(225,225,225,0.92);
	/* filter: alpha(opacity=90); */
	opacity: 0.9;
	-moz-opacity: 0.9;
}
#tiptip_holder.tip_right #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -5px;
	border-right-color: rgb(225,225,225);
	border-right-color: rgba(225,225,225,0.92);
	/* filter: alpha(opacity=90); */
	opacity: 0.9;
	-moz-opacity: 0.9;
}
#tiptip_holder.tip_left #tiptip_arrow_inner {
	margin-top: -6px;
	margin-left: -7px;
	border-left-color: rgb(225,225,225);
	border-left-color: rgba(225,225,225,0.92);
	/* filter: alpha(opacity=90); */
	opacity: 0.9;
	-moz-opacity: 0.9;
}

